
h2{
 text-align: center;
 background-color: rgb(60, 228, 228);
 font-weight: 100;
font-family: Georgia, 'Times New Roman', Times, serif;
border-radius: 10px;
}

 /* Navbar container */
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #dcd5d5;
      padding: 10px 30px;
      font-size: 19px;
      
    }

     /* Navbar links */
    .navbar a {
      color: rgb(16, 16, 16);
      text-decoration: none;
      padding: 8px 15px;
      font-size: 16px;
    }

    /* Hover effect for links */
    .navbar a:hover {
      background-color: #ec2626;
      border-radius: 5px;
      color: aqua;
    }

     /* Logo styling */
    .navbar .logo {
      font-size: 30px;
      font-weight: bold;
      color:  rgb(255, 0, 0);
     
    }

    /* Responsive design */
    @media (max-width: 600px) {
      .navbar {
        flex-direction: column;
        align-items: flex-start;
      }

      .navbar a {
        display: block;
        margin: 5px 0;
      }

     

     footer{
     text-align: center;
     }

     /* Make the video responsive */
    .video-container video {
      max-width: 100%; /* Scale down if needed */
      height: auto; /* Maintain aspect ratio */
      border: 2px solid #ccc; /* Optional border */
      border-radius: 10px; /* Optional rounded corners */
      
    }
    
    marquee{
    background-color: rgb(160, 227, 227);
    padding: 10px 30px;
   
}
